@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: make a light mode scheme */
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --sidebar-width: 4rem;
} */

:root {
  --foreground-rgb: 240, 240, 240;
  --background-rgb: 21, 21, 20;
  --secondary-rgb: 24, 25, 24;
  --tertiary-rgb: 44, 45, 44;
  --border-rgb: 80, 80, 80;
  --accent-rgb: 25, 80, 33;
  --sidebar-width: 4rem;
  --header-height: 2rem;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

input, textarea {
  padding: 0.75rem;
  border: 1px solid rgb(var(--border-rgb));
  border-radius: 0.5rem;
  background-color: rgb(var(--secondary-rgb));
  resize: none;
  overflow: auto;
}

input:disabled, textarea:disabled {
  background-color: rgb(var(--tertiary-rgb));
}

.flex-center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}